img {
    max-width: 200px;
    height: auto;
    margin: 10px;
}

.description {
    margin-left: 15px;
}

.name {
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
}

button {
    margin: 20px;
    background-color: #b35900;
    border: #4d2600;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: large;
    padding: 20px;
    height: 100%;
}

button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 #4d2600;
}

.left-side {
    display: flex;
}

@media (max-width: 600px) {
    .left-side {
        flex-direction: column;
    }
  }