<div class="flex-container">
    <div class="left-side">
        <img [src]="ad.petDto.pictureLink" [alt]="ad.petDto.name" />
        <div class="description">
            <p class="name">{{ad.petDto.name}}</p>
            <p>A {{ad.petDto.gender | lowercase}} {{ad.petDto.species | lowercase}}.</p>
            <p>{{ad.petDto.description}}</p>
            <p>Birth (estimated): {{ad.petDto.birth | date: 'dd/MM/yyyy'}}</p>
            <p *ngIf="ad.petDto.isNeutered">The animal is neutered.</p>
            <p *ngIf="!ad.petDto.isNeutered">The animal is not neutered.</p>
            <p>The advertisement expires at: {{ad.expiresAt | date: 'dd/MM/yyyy hh:mm'}}</p>
        </div>
    </div>
    <button (click)="adoptButtonClicked(ad)">I'd like to adopt</button>
</div>
<hr>