<h2>Let's make someone happy today!</h2>

<div *ngIf="advertisementId">
    <form (ngSubmit)="selectOwner(selectForm)" #selectForm="ngForm">
        <div>
            <h3>Handle applications of advertisement with id: {{advertisementId}}</h3>
            <p>Advertising started at: {{advertisement?.createdAt | date:'medium' }}</p>
            <p>Pet: {{advertisement?.petDto?.name}}</p>
        </div>
        <div class="radio">
            <strong>Applicants (select the new owner):</strong>
            <span *ngFor="let application of advertisement?.applications">
                <input type="radio" [value]="application.userId" (change)="changeSelectedoption(application)" name="acceptedUser"/> {{usersMap[application.userId]}} 
            </span>
        </div>
        <button type="submit">Save</button>
    </form>
</div>

<div *ngIf="!advertisementId">
    You haven't choose an ad yet.
</div>