<div class="container">
    <div data-test="subsite-links" class="left">
        <a data-test="link-home" routerLink="/home" routerLinkActive="active">Home</a>
        <a data-test="link-adopt" routerLink="/adopt" routerLinkActive="active">Adoptable pets</a>
        <a data-test="link-applications" routerLink="/applications" routerLinkActive="active">My applications</a>
    </div>
    <div class="right">
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" routerLinkActive="active">Register</a>
    </div>
</div>