<h2>Hey, Dude! What are we going to do?</h2>
<div data-test="large-btn-container" class="large-button-container">
    <div data-test="first-small-btn-container" class="small-button-container">
        <strong>Bother with advertisements</strong>
        <button data-test="list-ads-btn">List all of the ads</button>
        <button data-test="list-current-ads-btn">List current ads</button>
        <button data-test="generate-ad-btn">Generate a new ad</button>
        <button data-test="delete-ad-btn">Delete an ad</button>
    </div>
    <div data-test="second-small-btn-container" class="small-button-container">
        <strong>Bugger around pets</strong>
        <button data-test="list-pets-btn">List pets</button>
        <button data-test="update-pet-btn">Update a pet</button>
        <button data-test="generate-pet-btn">Generate a new pet</button>
        <button data-test="delete-pet-btn">Delete a pet</button>
    </div>
</div>
