<h2>Hey, Dude! What are we going to do?</h2>
<div data-test="large-btn-container" class="large-button-container">
    <div data-test="first-small-btn-container" class="small-button-container">
        <strong>Bother with advertisements</strong>
        <p>To see the ads or delete an ad:</p>
        <button data-test="list-ads-btn" (click)="setAdvertisementVisibiliy()">List the ads</button>
        <p>To generate a new adverisement:</p>
        <button data-test="generate-ad-btn">Add an ad</button>
    </div>
    <div data-test="second-small-btn-container" class="small-button-container">
        <strong>Bugger around pets</strong>
        <p>To see the pets, update or delete one:</p>
        <button data-test="list-pets-btn" (click)="setPetVisibility()">List the pets</button>
        <p>To store a new pet:</p>
        <button data-test="generate-pet-btn">Add a pet</button>
    </div>
</div>
<hr>
<aap-pet-list data-test="pet-list" *ngIf="showPets"></aap-pet-list>
<aap-ad-list data-test="ad-list" *ngIf="showAds"></aap-ad-list>

