img {
    max-width: 100px;
}

.pet-data {
    width: 50%;
}

.pet-list {
    padding-left: 15px;
}

h3 {
    padding-left: 15px;
}

label {
    padding: 10px;
}

.update-form {
    font-family: inherit;
    font-size: large;
    border-top: 3px double black;   
}

section {
    margin-top: 20px;
}

section > label {
    width: 100px;
    display: inline-block;
}

section > input {
    padding: 0;
    font-family: inherit;
    font-size: medium;
}

textarea {
    vertical-align: middle;
    width: 80%;
    font-family: inherit;
    font-size: medium;
}

.radio {
    display: flex;
}

.radio > label {
    width: 50px;
}

.radio > input {
    width: auto;
}


.radio-btns{
    width: 100px;
}

::placeholder {
    font-family: inherit;
    font-size: medium;
}

@media (max-width: 768px) {
    .pet-data {
        width: 90%;
    }
}