<h1>My applications:</h1>
<div class="filter">
    <strong>Show:</strong>
    <label *ngFor="let filterValue of filterValues" class="radiobtn-container">{{filterValue.title}}
        <input type="radio" [value]="filterValue.value" [(ngModel)]="filter" name="filterValue.title">
        <span class="checkmark"></span>
    </label>
</div>
<hr>
<h2 data-test="not-have-applications" *ngIf="applicationList.length === 0">
    You don't have a pending application.
</h2>
<ul data-test="application-list" *ngIf="applicationList.length > 0">
    <li data-test="application-list-item" *ngFor="let app of applicationList">
        <aap-application-details
        data-test="application"
        [app]="app"
        (withdraw)="withdrawApplication(app)"></aap-application-details>
    </li>
</ul>