h2 {
    margin-left: 80px;
}

ul {
    margin-top: 40px;
}

.result {
    font-weight: bold;
}

img {
    max-width: 100px;
    height: auto;
    margin: 10px;
}

.left-side {
    display: flex;
    gap: 80px;
}
